.swiper {
  width: 70%;
  height: 20%;
  box-shadow: 0em 0.1em rgb(228, 228, 228);
}

.swiper-slide {
  text-align: center;
  font-size: 1em;

  /* Center slide text vertically */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-base);
  cursor: pointer;
}