/* various items */

:root {
  /* color */
  --primary-color: #de6449;
  --primary2-color: #791d94;
  --grid-color: #8a8e54;
  --base-color: #fffff2;
  --white-color: #ffffff;
  --border-color: #9a9a9a;

  /* border-radius */
  --radius-base: 5px 10px;

  /* box-shadow */

  --grid-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.685);
}

#hoverAni {
  :hover {
    opacity: 0.7;
    border: 1px solid #de6449;
  }
}
