/* various items */

:root {
  /* color */
  --primary-color: #de6449;
  --primary2-color: #791d94;
  --grid-color: #8a8e54;
  --base-color: #fffff2;
  --white-color: #ffffff;
  --border-color: #9a9a9a;

  /* border-radius */
  --radius-base: 8px;
  --radius-small: 6px;

  /* box-shadow */

  --grid-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.685);
}

/* MasonryGrid.jsx */

.masonryContents {
  position: relative;
  align-items: flex-end;
  //overflow: hidden;
  //padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.911);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.masonryLabel {
  position: absolute;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.911);
}
